<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Password Reset</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
	<div class="login-container">
		<h2>Password Reset</h2>
		<div id="error" class="error-message"></div>
		<form id="passwordresetForm" autocomplete="off">
			<input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="newpassword" name="newpassword" placeholder="New Password">
            <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm New Password">
			<button type="submit">Reset Password</button>
		</form>
	</div>
	<script src="{{ url_for('static', filename='js/passwordreset.js') }}"></script>
</body>
</html>
